@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* div {
    border: 1px solid gray;
} */
html {
    font-size: 14px;
}
*{
    font-family: Quicksand;
    margin: 0px;
    padding: 0px;
}
:root {
    --black : #111111;
    --white : #FFFFFF;
    --skyblue : #01ACFD;
    --orange : #FEA301;
    --cyanblue : #05D4DF;
    --darkblue : #5D58EF;

}
.btn {
    padding: 6px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--white);
    font-weight: 600;
}
/* for navigation bar */
.navbar {
    margin: 20px 60px;
    /* width: 1120px; */
    display: flex;
    justify-content: space-between;
}
.nav-list li:nth-child(1){
    color: var(--orange);
}
.nav-list li:nth-child(2){
    color: var(--skyblue);
}
.nav-list li:nth-child(3){
    color: var(--cyanblue);
}
.nav-list li:nth-child(4){
    color: var(--darkblue);
}
.nav {
    display: flex;
    align-items: center;
}
#nav-left h3 {
    font-size: 2rem;
}
#nav-center ul {
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 350px ;
}
.nav-btn {
    background-color: var(--orange);
}
/* For the banner section  */
.banner {
    margin: 20px auto;
    width: 1120px;
    display: flex;
    height: 530px;
}
.b-head {
    padding: 80px 0;
    width: 620px;
    
}
.b-head h1 {
    font-size: 4rem;
}
.b-head p {
    padding: 20px 0;
    font-size: 1.2rem;
}
.b-content {
    height: 520px;
    margin: 0 auto;
}
.b-content img {
    height: 100%;
}
.text-emp {
    color: var(--orange) ;
}
.text-towr{
    color : var(--skyblue);
}
.black-btn {
    background-color: var(--black);
}
/* For curriculum section */
.headlines {
    font-size: 2.4rem;
    font-weight: 800;
}
.curriculum {
    background-image: url(../assets/bg.png);
    height: 700px;
}
.curr-heading {
    text-align: center;
    padding: 80px 0;
}
.box-container{
    display: flex;
    justify-content: space-evenly;
}
.curr-box {
    text-align: center;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius:20px ;

}
.grey-description {
    padding: 0 10px;
    color: rgba(128, 128, 128, 1);
}
.gr-skyblue{
    background-image: linear-gradient(rgb(175, 232, 255),white,white,white);
    border: 1px solid rgb(175, 232, 255);
}
.gr-yellow{
    background-image: linear-gradient(rgb(255, 255, 205),white,white,white);
    border: 1px solid rgb(245, 245, 144);
}

.gr-purple{
    background-image: linear-gradient(rgb(255, 207, 255),white,white,white);
    border: 1px solid rgb(255, 207, 255);
}

.curr-box img {
    margin-left: 95px;
    width: 40%;
    
}
.readmore {
    text-decoration: none;
    font-weight: 600;
}
.a{
    color:blue ;
}
.b{
    color:orange ;
}
.c{
    color:purple ;
}

.symbol ,.symbol > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.symbol h1 {
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: #FEA301;
    color: #FFFFFF;
    padding: 10px 10px ;
    border-radius: 50%;
    margin: 40px 3.5px;

}
/* for stories section */
.stories {
    background-image: url(../assets/bg.png),linear-gradient(white,rgb(255, 220, 155));
    background-position: center;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.stories-heading {
    text-align: center;
    margin: 40px 0;
}
.story-container{
    display: flex;
    justify-content: space-evenly;
}
.L-stories {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 15px;
    height: 600px ;
    width: 500px;
}
.L-stories img {
    width:100% ;
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
}
.L-stories > h3 {
    font-size: 1.8rem;
}
.L-stories > h4 {
    padding: 20px;
}
.R-stories {
    display: grid;
    grid-template-columns: repeat(2,270px);
    gap: 15px;
    }
.R-stories  img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.R-box {
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #FFFFFF;
}
.date-btn {
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 15px;
    translate: 40px -15px;
    color: #FFFFFF;
}
.cyan {
    background-color: var(--cyanblue);
}
.orange {
    background-color: var(--orange);
}
.story-btn {
    text-align: center;
}
.highlights  {
    padding : 20px  ;
}
/* for footer */
.footer {
    background-color: var(--cyanblue);
    /* height: 350px; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 50px 0;
    color: #FFFFFF;
}
.f-left {
    display: flex;
    margin-bottom: 20px;
}
.f-left h3 {
    font-size: 2rem;
}
.f-center h3 {
    padding-bottom: 10px;
}
.f-center li {
    list-style: none;
    padding: 6px 0;
}
.f-right {
    /* padding-top: 5px; */
}
.social-i  {
    margin-top: 20px;
}
.social-i a{
    margin-right: 5px;
}

@media screen and (max-width:576px){
    .navbar {
        margin:0 ;
        padding-right: 20px;
        height: 85px;
        border: 1px solid orange;
    }
    #nav-left h3 {
        display: none;
    }
    .nav-img {
        margin-left: 25px;
    }
    #nav-center , .nav-btn {
        display: none;
    }
    .menu-icon  {
        height: 25px;
        width: 35px;
        /* margin-right: 20px; */
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;
        
    }
    .menu-icon span {
        width: 100%;
        height: 3.5px;
        border-radius: 2px;
        background-color: var(--black);
    }
    .banner {
        flex-direction: column-reverse;
        height: 900px;
        width: auto;
        
    }
    .b-head {
        text-align: center;
        padding: 20px 0;
        width: auto;
    
     }
     .curriculum {
        height: 1200px;
     }
     .box-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .curr-box {
        height: 320px;
        width: 320px;
    }
    .symbol {
        display: none;
    }
    .L-stories {
        display: none;
    }
    .R-stories {
        grid-template-rows: repeat(2,300px);
    }
    .footer {
        
        flex-direction: column;
        gap: 15px;
        padding-left: 20px;
       
    }
    }